.o_form_editable {
    flex-wrap: wrap !important;
}

.o_form_editable .o_form_sheet_bg {
    max-width: 47% !important;
}

#preview_product_view {
    min-width: 53% !important;
}

#website_preview_container {
    max-height: 680px;
    min-height: 680px;
    overflow: hidden;
}

#website_preview_container .o_readonly {
    height: 100%;
}

#preview_iframe {
    width: 100%;
    height: inherit;
    scrollbar-width: none;
}

.smartphone {
    position: relative;
    width: 360px;
    height: inherit;
    margin: auto;
    border: 16px black solid;
    border-top-width: 60px;
    border-bottom-width: 60px;
    border-radius: 36px;
}

/* The horizontal line on the top of the device */
.smartphone:before {
    content: '';
    display: block;
    width: 60px;
    height: 5px;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 10px;
}

/* The circle on the bottom of the device */
.smartphone:after {
    content: '';
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    left: 50%;
    bottom: -65px;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 50%;
}
.content{
    width: 100%;
    height: 100%;
    background: white;
    overflow: hidden;
}