.o_form_editable {
    flex-wrap: wrap !important;
}

.o_form_editable .o_form_sheet_bg {
    max-width: 60% !important;
}

#preview_product_view {
    min-width: 40% !important;
}

#product_preview_iframe { 
    height: 100%; 
    width: 100%;
}