.o_form_editable {
    flex-wrap: wrap !important;
}

.o_form_editable .o_form_sheet_bg {
    max-width: 47% !important;
}

#preview_product_view {
    min-width: 53% !important;
}

#website_preview_container {
    max-height: 680px;
    overflow: hidden;
}

#product_preview_iframe { 
    width: 100%;
}